<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>Title</title>
</head>
<body>
    <form class="col g-3 needs-validation" novalidate action="#" th:action="@{/driver/driverForm}" th:object="${driver}" method="post">
        <div class="col-3">
            <div class="form-outline">
                <label for="validationFirstName" class="form-label">Imię</label>
                <input type="text" value="Imię" class="form-control" id="validationFirstName" required th:field="*{firstName}"/>
                <div class="invalid-feedback">To pole nie może być puste!</div>
            </div>
        </div>
        <div class="col-3">
            <div class="form-outline">
                <label for="validationLastName" class="form-label">Nazwisko</label>
                <input type="text" value="Nazwisko" class="form-control" id="validationLastName" required th:field="*{lastName}"/>
                <div class="invalid-feedback">To pole nie może być puste!</div>
            </div>
        </div>
        <p><input type="submit" class="btn btn-primary btn-lg" value="Dodaj kierowcę"/> <input type="reset" class="btn btn-primary btn-lg" value="Wyczyść pola"></p>
    </form>
    <a href="drivers.html" th:href="@{/driver/allDrivers}"><button type="button" class="btn btn-lg btn-secondary btn-block">Anuluj</button></a>

    <script>
        (function () {
            'use strict'

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.querySelectorAll('.needs-validation')

            // Loop over them and prevent submission
            Array.prototype.slice.call(forms)
                .forEach(function (form) {
                    form.addEventListener('submit', function (event) {
                        if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()
                        }

                        form.classList.add('was-validated')
                    }, false)
                })
        })()
    </script>
</body>
</html>