<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Title</title>
</head>
<body>
    <div class="row border rounded">
        <div class="col-sm-4">
            <a href="index.html" th:href="@{/}">
                <button type="button" class="btn btn-secondary btn-lg btn-block p-4" >Strona główna</button></a>
        </div>
        <div class="col-sm-4 alert alert-primary text-center" role="alert">
            <h1>Kierowcy</h1>
        </div>
        <div class="col-sm-4">
            <a href="driverForm.html" th:href="@{/driver/driverForm}">
                <button type="button" class="btn btn-success btn-lg btn-block p-4" name="addDriver">Nowy kierowca</button></a>
        </div>
    </div>
    <table class="table table-striped">
      <tr>
        <th>Imię</th>
        <th>Nazwisko</th>
        <th>Akcje</th>
      </tr>
      <tr th:each="d : ${drivers}">
        <td th:text="${d.firstName}"></td>
        <td th:text="${d.lastName}"></td>
        <td><a th:href="@{/driver/removeDriver/{id}(id=${d.id})}">
          <button type="button" class="btn btn-danger btn-block">Usuń</button></a>
        </td>
      </tr>
    </table>

</body>
</html>