<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Simple order manager main page</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin=""/>
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin=""></script>
    <style>
        #mapid { height: 550px; }
    </style>
</head>

<body>
<div class="card">
    <div class="card-header">
        <div class="row">
<!--            <h1 display-1 font-weight-bold>Menu</h1>-->
            <div class="col-sm-6">
                <a href="orders.html" th:href="@{/order/orders}">
                    <button type="button" class="btn btn-lg btn-primary btn-block">Zamówienia</button></a>
            </div>
            <div class="col-sm-6">
                <a href="drivers.html" th:href="@{/driver/allDrivers}">
                    <button type="button" class="btn btn-lg btn-success btn-block">Kierowcy</button></a>
            </div>
<!--            <div class="col-sm-4">-->
<!--                <a href="streetMap.html" th:href="@{/streetMap/map}">-->
<!--                    <button type="button" class="btn btn-lg btn-primary btn-block">Mapa</button></a>-->
<!--            </div>-->
        </div>

    </div>
    <div class="card-body">
        <div id="mapid"></div>



    </div>
    <div class="card-footer">
        <div class="row">
            <div class="col-sm-4">
                <button class="btn btn-warning btn-lg btn-block" onclick="getNewOrders()">Nowe zamówienia</button>
            </div>
            <div class="col-sm-4">
                <button class="btn btn-info btn-lg btn-block" onclick="getClosedOrders()">Zamknięte zamówienia</button>
            </div>
            <div class="col-sm-4">
                <button class="btn btn-secondary btn-lg btn-block" onclick="getAllOrders()">Wszystkie zamówienia</button>
            </div>
        </div>
    </div>
</div>

<script th:inline="javascript">
        const locationiqToken = "pk.c5f4b42b05bfdb2f033d3be0590472cd";
        const burgerIcon = '/img/burger.png';
        const pizzaIcon = '/img/pizza.png';
        const sushiIcon = '/img/sushi.png';
        var map = L.map('mapid').setView([52.2368396, 21.1057222], 13);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);
        var allOrders;
        var completedOrders;

        var burgerMarker = L.icon({
            iconUrl: burgerIcon,
            iconSize:     [30, 30], // size of the icon
            shadowSize:   [50, 64], // size of the shadow
            iconAnchor:   [15, 30], // point of the icon which will correspond to marker's location
            popupAnchor:  [0, -20] // point from which the popup should open relative to the iconAnchor
        });

        var pizzaMarker = L.icon({
            iconUrl: pizzaIcon,
            iconSize:     [30, 30], // size of the icon
            shadowSize:   [50, 64], // size of the shadow
            iconAnchor:   [15, 30], // point of the icon which will correspond to marker's location
            popupAnchor:  [0, -20] // point from which the popup should open relative to the iconAnchor
        });

        var sushiMarker = L.icon({
            iconUrl: sushiIcon,
            iconSize:     [30, 30], // size of the icon
            shadowSize:   [50, 64], // size of the shadow
            iconAnchor:   [15, 30], // point of the icon which will correspond to marker's location
            popupAnchor:  [0, -20] // point from which the popup should open relative to the iconAnchor
        });

        function getNewOrders() {
            map.eachLayer(function (layer) {
                map.removeLayer(layer);
            });
            var points = Array.from([[${newOrderPoints}]]);
            var size = points.length;
            var markers = new Array(size);
            for (i=0; i<size; i++){
                var address = points[i].street + " " + points[i].buildingNumber;
                console.log(address);
                const foodType = points[i].foodType;
                switch (foodType) {
                    case 'BURGER': markers[i] = L.marker([points[i].latitude, points[i].longitude], {icon: burgerMarker}).bindPopup(address);
                    break;
                    case 'PIZZA': markers[i] = L.marker([points[i].latitude, points[i].longitude], {icon: pizzaMarker}).bindPopup(address);
                    break;
                    case 'SUSHI': markers[i] = L.marker([points[i].latitude, points[i].longitude], {icon: sushiMarker}).bindPopup(address);
                    break;
                }

            }
            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
            }).addTo(map);
            allOrders = L.layerGroup(markers).addTo(map);
        }

        function getAllOrders() {
            map.eachLayer(function (layer) {
                map.removeLayer(layer);
            });
            var points = Array.from([[${allOrderPoints}]]);
            var size = points.length;
            var markers = new Array(size);
            for (i=0; i<size; i++){
                var address = points[i].street + " " + points[i].buildingNumber;
                const foodType = points[i].foodType;
                switch (foodType) {
                    case 'BURGER': markers[i] = L.marker([points[i].latitude, points[i].longitude], {icon: burgerMarker}).bindPopup(address);
                        break;
                    case 'PIZZA': markers[i] = L.marker([points[i].latitude, points[i].longitude], {icon: pizzaMarker}).bindPopup(address);
                        break;
                    case 'SUSHI': markers[i] = L.marker([points[i].latitude, points[i].longitude], {icon: sushiMarker}).bindPopup(address);
                        break;
                }
            }
            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
            }).addTo(map);
            allOrders = L.layerGroup(markers).addTo(map);
        }

        function getClosedOrders() {
            map.eachLayer(function (layer) {
                map.removeLayer(layer);
            });
            var points = Array.from([[${completedOrderPoints}]]);
            var size = points.length;
            var markers = new Array(size);
            for (i=0; i<size; i++){
                var address = points[i].street + " " + points[i].buildingNumber;
                const foodType = points[i].foodType;
                switch (foodType) {
                    case 'BURGER': markers[i] = L.marker([points[i].latitude, points[i].longitude], {icon: burgerMarker}).bindPopup(address);
                        break;
                    case 'PIZZA': markers[i] = L.marker([points[i].latitude, points[i].longitude], {icon: pizzaMarker}).bindPopup(address);
                        break;
                    case 'SUSHI': markers[i] = L.marker([points[i].latitude, points[i].longitude], {icon: sushiMarker}).bindPopup(address);
                        break;
                }
            }
            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
            }).addTo(map);
            completedOrders = L.layerGroup(markers).addTo(map);
        }

    </script>

</body>

</html>
