<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <title>Simple order manager main page</title>
<!--    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />-->
<!--    <link rel="stylesheet" th:href="@{/main.css}"/>-->

</head>

<body>
<h1>Strona główna</h1>
    <a href="orders.html" th:href="@{http://localhost:8080/order/orders}"><button type="button" class="btn btn-primary btn-lg">Zamowienia</button></a>
    <a href="drivers.html" th:href="@{http://localhost:8080/driver/allDrivers}"><button type="button" class="btn btn-primary btn-lg">Kierowcy</button></a>
    <a href="streetMap.html" th:href="@{http://localhost:8080/streetMap/map}"><button type="button" class="btn btn-primary btn-lg">Mapa</button></a>
</body>
</html>