<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>Title</title>
</head>
<body>
    <form action="#" th:action="@{/order/orderForm}" th:object="${order}" method="post">
        <p>Ulica: <input type="text" th:field="*{address.street}"></p>
        <p>Numer budynku: <input type="text" th:field="*{address.buildingNumber}"></p>
        <p>Numer mieszkania: <input type="text" th:field="*{address.flatNumber}"></p>
        <p>------------------------------------------------------</p>
        <p>status: <input type="text" th:field="*{status}"></p>
        <p>rodzaj jedzenia: <input type="text" th:field="*{foodType}" /></p>
        <p><input type="submit" value="Dodaj zamówienie"> <input type="reset" value="Wyczyść pola" /></p>
        <a href="http://localhost:8080/order/orders"><button class="btn btn-default">Anuluj</button></a>
    </form>
</body>
</html>