<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <title>Zamówienia</title>


</head>
<body>
    <a href="index.html" th:href="@{http://localhost:8080/}"><button type="button" class="btn btn-primary btn-lg">Strona główna</button></a>
    <a href="orderForm.html" th:href="@{http://localhost:8080/order/orderForm}"><button type="button" class="btn btn-primary btn-lg">Nowe zamówienie</button></a>
    <h1>Zamówienia</h1>

    <table class="table table-striped table-bordered table-hover">
        <tr>
            <th>Id</th>
            <th>Adres</th>
            <th>Uwagi</th>
            <th>Rodzaj jedzenia</th>
            <th>Czas przyjęcia do realizacji</th>
            <th>Czas pozostały do dostarczenia</th>
            <th>Czas zamknięcia</th>
            <th>Status</th>
            <th>Kierowca</th>
            <th>Akcje</th>
        </tr>
        <tr th:each="o, stat : ${orders}">
            <td th:text="${o.id}"></td>
            <td>
                <div>
                    <p th:text="${o.address}!=null ? (${o.address.street} + ' ' + ${o.address.buildingNumber}) : ' '"></p>
                    <p></p>
                </div>
            </td>
            <td th:text="${o.description}"></td>
            <td th:text="${o.foodType}"></td>

            <td th:text="${o.createTime}"></td>

            <td>
                <p th:id="'timer-'+${stat.count}"></p>
                <script th:inline="javascript">
                    var secondsToDelivery  = [[${o.secondsToDelivery()}]];
                    var orderIndex = [[${stat.count}]];
                    var x = setInterval(setTime(orderIndex, secondsToDelivery--), 1000);

                    function setTime(orderIndex, secondsToDelivery){
                        var hours = Math.floor((secondsToDelivery / 3600));
                        var minutes = Math.floor((secondsToDelivery % (3600)) / (60));
                        var seconds = Math.floor(secondsToDelivery % 60);
                        // console.log('h: ' + hours);
                        // console.log('m' + minutes);
                        // console.log('s' + seconds);
                        document.getElementById('timer-'+orderIndex).innerHTML =hours + ":"
                            + minutes + ":" + seconds;

                        secondsToDelivery--;
                    }

                </script>

            </td>


            <td th:text="${o.closeTime}"></td>

            <td th:text="${o.status}"></td>
            <td th:text="${o.driver}!=null ? (${o.driver.firstName} + ' ' + ${o.driver.lastName}) : 'brak przypisanego kierowcy'"></td>
            <td>
                <div>
                    <a th:href="@{http://localhost:8080/order/removeOrder/{id}(id=${o.id})}">
                        <button type="button" class="btn btn-danger">Usuń</button></a>
                    <a th:href="@{http://localhost:8080/order/addOrder/{orderId}/toDriver(orderId=${o.id})}">
                        <button type="button" class="btn btn-primary">Przypisz kierowcę</button></a>
                    <a th:href="@{http://localhost:8080/order/setStatusToClose/{id}(id=${o.id})}">
                        <button type="button" class="btn btn-primary">Zakończ zamówienie</button></a>
                </div>
            </td>
        </tr>
        <script>

        </script>

    </table>



</body>
</html>